In [ ]:
!git clone https://github.com/michalfaber/keras_Realtime_Multi-Person_Pose_Estimation.git

Cloning into 'keras_Realtime_Multi-Person_Pose_Estimation'...
remote: Enumerating objects: 223, done.
remote: Total 223 (delta 0), reused 0 (delta 0), pack-reused 223
Receiving objects: 100% (223/223), 33.28 MiB | 35.53 MiB/s, done.
Resolving deltas: 100% (98/98), done.

In [ ]:
import os
from google.colab.patches import cv2_imshow
os.chdir('/content/keras_Realtime_Multi-Person_Pose_Estimation')
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **change 1**

In [ ]:
import pandas as pd 
d=pd.read_csv("/content/sample_data/Shiv_bhuj.csv") 
del d['Unnamed: 0']

In [ ]:
d

    nose_X  nose_Y  neck_X  ...  left_ear_X  left_ear_Y  Activity
0    785.0   433.0     738  ...         NaN         NaN      Bhuj
1      NaN     NaN     735  ...         NaN         NaN      Bhuj
2      NaN     NaN     735  ...         NaN         NaN      Bhuj
3    788.0   438.0     741  ...         NaN         NaN      Bhuj
4    776.0   432.0     734  ...         NaN         NaN      Bhuj
..     ...     ...     ...  ...         ...         ...       ...
73   756.0   474.0     723  ...         NaN         NaN      Bhuj
74   753.0   477.0     725  ...         NaN         NaN      Bhuj
75   755.0   475.0     725  ...         NaN         NaN      Bhuj
76   766.0   472.0     722  ...         NaN         NaN      Bhuj
77   767.0   472.0     723  ...         NaN         NaN      Bhuj

[78 rows x 37 columns]

In [ ]:
pip install configobj

Collecting configobj
  Downloading https://files.pythonhosted.org/packages/64/61/079eb60459c44929e684fa7d9e2fdca403f67d64dd9dbac27296be2e0fab/configobj-5.0.6.tar.gz
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from configobj) (1.15.0)
Building wheels for collected packages: configobj
  Building wheel for configobj (setup.py) ... done
  Created wheel for configobj: filename=configobj-5.0.6-cp37-none-any.whl size=34547 sha256=85811c5fdca7e6aa762d1689e6393c8d1c55bcfe7c54754adc1d0a897fd98ddd
  Stored in directory: /root/.cache/pip/wheels/f1/e4/16/4981ca97c2d65106b49861e0b35e2660695be7219a2d351ee0
Successfully built configobj
Installing collected packages: configobj
Successfully installed configobj-5.0.6

In [ ]:
"""
0    -------------------------------nose
1    -------------------------------neck
2    -------------------------------right shoulder
3    -------------------------------right elbow
4    -------------------------------right wrist
5    -------------------------------left shoulder
6    -------------------------------left elbow
7    -------------------------------left wrist   
8    -------------------------------right hip
9    -------------------------------right knee
10   -------------------------------right ankle
11   -------------------------------left hip
12   -------------------------------left knee
13   -------------------------------left ankle
14   -------------------------------right eye
15   -------------------------------left eye
16   -------------------------------right ear
17   -------------------------------left ear    """

'\n0    -------------------------------nose\n1    -------------------------------neck\n2    -------------------------------right shoulder\n3    -------------------------------right elbow\n4    -------------------------------right wrist\n5    -------------------------------left shoulder\n6    -------------------------------left elbow\n7    -------------------------------left wrist   \n8    -------------------------------right hip\n9    -------------------------------right knee\n10   -------------------------------right ankle\n11   -------------------------------left hip\n12   -------------------------------left knee\n13   -------------------------------left ankle\n14   -------------------------------right eye\n15   -------------------------------left eye\n16   -------------------------------right ear\n17   -------------------------------left ear    '

In [ ]:
import argparse
import time
import cv2
from processing import extract_parts, draw
from config_reader import config_reader
from model.cmu_model import get_testing_model

In [ ]:
keras_weights_file = '/content/drive/MyDrive/keras_multi_pose/model.h5'
model = get_testing_model()
model.load_weights(keras_weights_file)
params, model_params = config_reader()
#scale_search = [1, .5, 1.5, 2]  # [.5, 1, 1.5, 2]
#scale_search = scale_search[0:4]
#params['scale_search'] = scale_search

In [ ]:
def extraction(input_image, params, model, model_params):
     tic = time.time()
     print('start processing...')
     body_parts, all_peaks, subset, candidate = extract_parts(input_image, params, model, model_params)
     canvas = draw(input_image, all_peaks, subset, candidate)
     toc = time.time()
     print('processing time is %.5f' % (toc - tic))
     #print(all_peaks)
     cv2_imshow(canvas)
     cv2.destroyAllWindows()
     return body_parts, all_peaks, subset, candidate

def points_extract(all_peaks):
 points = []
 for peak in all_peaks:
        try:
          m=peak[0][2:3]
          w_i=0
          for i in range(len(peak)):
             if(peak[i][2:3]>m):
                m=peak[i][2:3]
                w_i=i
          if(peak[w_i][2]>0.3):
             points.append((peak[w_i][:2]))
          else:
             points.append(("NA", "NA"))   
        except IndexError:
            points.append(("NA", "NA"))
 return points

# **change 2 (two)**

In [ ]:
cap = cv2.VideoCapture('/content/drive/MyDrive/yoga vid collector/Veena_Bhu.mp4')
frameRate = 60
m=19
n=23
body_parts_arr=[]
all_peaks_arr=[]

In [ ]:
while(cap.isOpened()):
  frameId = cap.get(1)
  ret, frame = cap.read()
  if (ret != True):  
        break      
  if (frameId % frameRate == 0):
      print(frameId,"      ",frameId/frameRate)
      cv2_imshow(frame)
      if (m<=frameId/frameRate<=n):
          body_parts, all_peaks, subset, candidate=extraction(frame, params, model, model_params)
          body_parts_arr.append(body_parts)
          all_peaks_arr.append(all_peaks)
          print(body_parts)
          print(all_peaks)
  #Frame=frame    
cap.release()
print ("Done!")

In [ ]:
#image_path = 'sample_images/image.jpg'
#input_image = cv2.imread(image_path)
#body_parts, all_peaks, subset, candidate=extraction(input_image, params, model, model_params)

In [ ]:
print(len(body_parts_arr),len(all_peaks_arr))

5 5

In [ ]:
points_arr=[]

# **change 3**

In [ ]:
for i in range(5):
  points=points_extract(all_peaks_arr[i])
  points_arr.append(points)

In [ ]:
points_list_arr=[]

# **change 4**

In [ ]:
for j in range(5):
   points_list=[]
   for i in range(18):
      points_list.append(points_arr[j][i][0])
      points_list.append(points_arr[j][i][1])
   points_list.append("Bhuj")   
   points_list_arr.append(points_list)

In [ ]:
len(points_list_arr[0])

37

In [ ]:
d

    nose_X  nose_Y  neck_X  ...  left_ear_X  left_ear_Y  Activity
0    785.0   433.0     738  ...         NaN         NaN      Bhuj
1      NaN     NaN     735  ...         NaN         NaN      Bhuj
2      NaN     NaN     735  ...         NaN         NaN      Bhuj
3    788.0   438.0     741  ...         NaN         NaN      Bhuj
4    776.0   432.0     734  ...         NaN         NaN      Bhuj
..     ...     ...     ...  ...         ...         ...       ...
73   756.0   474.0     723  ...         NaN         NaN      Bhuj
74   753.0   477.0     725  ...         NaN         NaN      Bhuj
75   755.0   475.0     725  ...         NaN         NaN      Bhuj
76   766.0   472.0     722  ...         NaN         NaN      Bhuj
77   767.0   472.0     723  ...         NaN         NaN      Bhuj

[78 rows x 37 columns]

# **change 5**

In [ ]:
for i in range(5):
    d.loc[len(d)] = points_list_arr[i]

In [ ]:
d

   nose_X nose_Y  neck_X  neck_Y  ...  right_ear_Y  left_ear_X  left_ear_Y  Activity
0     785    433     738     476  ...          433         NaN         NaN      Bhuj
1     NaN    NaN     735     477  ...          432         NaN         NaN      Bhuj
2     NaN    NaN     735     478  ...          432         NaN         NaN      Bhuj
3     788    438     741     478  ...          437         NaN         NaN      Bhuj
4     776    432     734     476  ...          430         NaN         NaN      Bhuj
..    ...    ...     ...     ...  ...          ...         ...         ...       ...
78     NA     NA     679     530  ...          494          NA          NA      Bhuj
79    714    487     679     530  ...          495          NA          NA      Bhuj
80    709    489     682     530  ...          496          NA          NA      Bhuj
81    713    493     683     529  ...          496          NA          NA      Bhuj
82    718    487     680     530  ...          497          NA          NA      Bhuj

[83 rows x 37 columns]

In [ ]:
d

  nose_X nose_Y neck_X neck_Y  ... right_ear_Y left_ear_X left_ear_Y Activity
0    785    433    738    476  ...         433         NA         NA     Bhuj
1     NA     NA    735    477  ...         432         NA         NA     Bhuj
2     NA     NA    735    478  ...         432         NA         NA     Bhuj
3    788    438    741    478  ...         437         NA         NA     Bhuj
4    776    432    734    476  ...         430         NA         NA     Bhuj
5    773    427    734    476  ...         431         NA         NA     Bhuj
6    779    435    736    478  ...         436         NA         NA     Bhuj

[7 rows x 37 columns]

# **change 6**

In [ ]:
d.to_csv('/content/sample_data/Veena_Bhu.csv')